In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frieda', 'Gina'],
                     'Alter': [25, np.nan, 30, 28, np.nan, 30, 24]})

print("Originaler Datensatz:")
print(data)

# Deine Aufgaben:

# 1. Imputiere die fehlenden Werte in der Spalte "Alter" mit der Mittelwert-Imputation und erstelle einen neuen DataFrame (df_mean).
df_mean = data.copy()
df_mean["Alter"] = df_mean["Alter"].fillna(df_mean["Alter"].mean())
print("\nDataFrame mit Mittelwert-Imputation:")
print(df_mean)

Originaler Datensatz:
      Name  Alter
0    Alice   25.0
1      Bob    NaN
2  Charlie   30.0
3    David   28.0
4      Eva    NaN
5   Frieda   30.0
6     Gina   24.0

DataFrame mit Mittelwert-Imputation:
      Name  Alter
0    Alice   25.0
1      Bob   27.4
2  Charlie   30.0
3    David   28.0
4      Eva   27.4
5   Frieda   30.0
6     Gina   24.0

##### 2. Imputiere die fehlenden Werte in der Spalte "Alter" mit der Median-Imputation und erstelle einen neuen DataFrame (df_median).

In [2]:
df_median = data.copy()
df_median["Alter"] = df_median["Alter"].fillna(df_mean["Alter"].median())
print("\nDataFrame mit Median-Imputation:")
print(df_median)

DataFrame mit Median-Imputation:
      Name  Alter
0    Alice   25.0
1      Bob   27.4
2  Charlie   30.0
3    David   28.0
4      Eva   27.4
5   Frieda   30.0
6     Gina   24.0

In [5]:
data["Alter"].mode()

0    30.0
Name: Alter, dtype: float64

In [8]:
df_mode = data.copy()
df_mode["Alter"] = df_mode["Alter"].fillna(df_mode["Alter"].mode()[0])
print("\nDataFrame mit Modus-Imputation:")
print(df_mode)

DataFrame mit Modus-Imputation:
      Name  Alter
0    Alice   25.0
1      Bob   30.0
2  Charlie   30.0
3    David   28.0
4      Eva   30.0
5   Frieda   30.0
6     Gina   24.0