In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

### MEAN CALCULATION

In [11]:
# We can calculate mean of list or array with for loop
def calculate_mean(arr):
    total = 0
    for num in arr:
        total += num
    return total / arr.shape[0]

In [12]:
arr = np.arange(0,10)
print("Mean of array: {}".format(calculate_mean(arr)))

Mean of array: 4.5

In [14]:
# Or we can just use numpy.mean() method
print(f"Mean of array: {np.mean(arr)}")

Mean of array: 4.5

### MEDIAN CALCULATION

In [17]:
# We can calculate median of list or array with sorting
def calculate_median(lst):
    sortedLst = sorted(lst)
    lstLen = len(sortedLst)
    index = (lstLen - 1) // 2
    
    if (lstLen % 2 != 0):
        return sortedLst[index]
    else:
        return (sortedLst[index] + sortedLst[index + 1]) / 2

In [19]:
arr2 = np.arange(0,5)
# Array -> ([0,1,2,3,4]) || Median should be 2
print("Median of array: {}".format(calculate_median(arr2)))

Median of array: 2

In [20]:
arr3 = np.arange(0,6)
# Array -> ([0,1,2,3,4,5]) || Median should be 2.5
print("Median of array: {}".format(calculate_median(arr3)))

Median of array: 2.5

#### Or we can use numpy.median() method to calculate median faster

In [21]:
print("Median of array: {}".format(np.median(arr3)))

Median of array: 2.5

## Häufigkeitstabellen

#### Häufigkeitstabellen geben Aufschluss darüber, wie häufig einzelne Werte oder Merkmalsausprägungen in einem Datensatz vorkommen. Beispiel: Wir haben die Größen von 10 Häusern in Metern gemessen. Die Messwerte lauten: 8, 9.5, 10, 8.5, 11, 9, 8, 10.5, 9.5, 10

In [30]:
num_list = [8, 9.5, 10, 8.5, 11, 9, 8, 10.5, 9.5, 10]

In [31]:
counter = {}
for num in num_list:
    if num not in counter:
        counter[num] = 0
    counter[num] += 1
    
counter

{8: 2, 9.5: 2, 10: 2, 8.5: 1, 11: 1, 9: 1, 10.5: 1}

In [33]:
häufigkeit = pd.DataFrame(data=counter.values(), index=counter.keys(), columns=["Häufigkeit"])
häufigkeit

      Häufigkeit
8.0            2
9.5            2
10.0           2
8.5            1
11.0           1
9.0            1
10.5           1

### Counter

In [36]:
from collections import Counter

counter_object = Counter(num_list)

tabelle = pd.DataFrame(data=counter_object.values(), index=counter_object.keys(), columns=["Häufigkeit"])
tabelle

      Häufigkeit
8.0            2
9.5            2
10.0           2
8.5            1
11.0           1
9.0            1
10.5           1

### MODE CALCULATION

In [40]:
def calculate_mode(arr):
    return Counter(arr).most_common(3)

In [41]:
print(calculate_mode(num_list))

[(8, 2), (9.5, 2), (10, 2)]